@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer;
<div class="viewContainer">
  <h2>Engineer Details</h2>
  <hr />
  <h3>@Html.DisplayFor(model => model.Name)</h3>
  <h3>License Valid Until: @Html.DisplayFor(model => model.LicenseExpiration )</h3>

  @if(@Model.JoinEntities.Count == 0)
  {
    <p>This engineer is currently not licensed to work on any machines.</p>
  }
  else
  {
    <h4>Machines currently licensed to work on:</h4>
    <ul>
    @foreach(var join in Model.JoinEntities)
    {
      <li>@join.Machine.Name</li>
    }
    </ul>
  }
  <div class="row align-items-center">
    <div class="col-sm-4">
      <button class="detailButton">@Html.ActionLink("Add Machine", "AddMachine", new { id = Model.EngineerId })</button>
    </div>
    <div class="col-sm-4">
      <button class="detailButton">@Html.ActionLink("Edit Engineer", "Edit", new { id = Model.EngineerId })</button>
    </div>
    <div class="col-sm-4">
      <button class="detailButton">@Html.ActionLink("Delete Engineer", "Delete", new { id = Model.EngineerId })</button>
    </div>
  </div>
</div>